NODE_ENV="development"
PORT=3000

DATABASE_URL=postgres://53a1062e90e4deff64adb74f9bd850e8b723bbc630ec5551cc26c2e07060bc62:sk_XvWCex4gAK-hKP7HtvWk7@db.prisma.io:5432/postgres?sslmode=verify-full

JWT_SECRET="your_jwt_secret_key"
JWT_EXPIRES_IN="1h"

MAIL_USER=asdf
MAIL_PASS=asf

LOG_LEVEL="info"

SLOW_QUERY_THRESHOLD=10000