NODE_ENV="development"
PORT=8000

DATABASE_URL=""

JWT_SECRET="your_jwt_secret_key"
JWT_EXPIRES_IN="1h"

MAIL_USER=asdf
MAIL_PASS=asf

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_CLOUD_API_KEY=
CLOUDINARY_CLOUD_API_SECRET=

LOG_LEVEL="info"

SLOW_QUERY_THRESHOLD=10000